.wrapper {
  display: flex;
}
.list {
  display: flex;
  gap: 8px;
  color: white;
  fill: white;
}
@media (min-width: 768px) {
  .list {
    gap: 30px;
  }
}

.link {
  display: flex;
  border-radius: 50%;
  padding: 4px;
  size: 8px;
  align-items: center;
  cursor: pointer;
  background-color: var(--header-color);
  border-color: var(--header-color);
  box-shadow: var(--box-shadow);
  color: var(--main-text);
  transition: color 0.15s ease-in-out;
}
@media (min-width: 768px) {
  .link {
    gap: 20px;
    size: 30px;
  }
}
.link:hover,
.link:focus {
  cursor: pointer;
  background: var(--rusty);
  border-bottom: 3px solid var(--rusty);
  border: none;
  color: white;
  font-weight: 600;
  text-shadow: 1px 2px 5px 10px var(--box-shadow);
}
.active {
  background: inherit;
  color: var(--button-active);
}
