.wrapper {
  /* width: 100vw; */
  height: 135px;
  margin: 0;
  padding: 0;
  background-color: white;
  /* background-blend-mode: overlay; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (min-width: 768px) {
  .wrapper {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    height: 432px;
  }
}

.container {
  text-align: center;
  justify-content: center;
  padding: 8px;
  max-width: 425px;
}
@media (min-width: 768px) {
  .container {
    padding: 16px 32px;
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.hero {
  font-size: 1.1rem;
  font-weight: bold;
  transition: font-size 0.3s ease;
  font-family: "Genos", sans-serif;
  color: var(--rusty);
  fill: var(--rusty);
}
@media (min-width: 768px) {
  .hero {
    font-size: 4rem;
  }
}
