.wrapper {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  padding: 8px 8px 0 8px;
  margin: 0;
  width: calc(100% - 18px);
}
@media (min-width: 425px) {
  .description {
    width: 392px;
    padding: 16px 16px 0 16px;
  }
}
@media (min-width: 768px) {
  .description {
    flex-direction: row;
    align-items: stretch;
    padding: 32px 32px 0 32px;
    width: 880px;
  }
}
@media (min-width: 1024px) {
  .description {
    width: 1198px;
  }
}
@media (min-width: 1440px) {
  .description {
    width: 1376px;
  }
}

.img {
  width: calc(100% - 2px);
}
@media (min-width: 768px) {
  .img {
    /* height: 450px; */
    width: 266px;
  }
}
@media (min-width: 1024px) {
  .img {
    /* height: 600px; */
    width: 350px;
  }
}
@media (min-width: 1440px) {
  .img {
    /* height: 600px; */
    width: 600px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 16px;
  justify-content: center;
  width: calc(100% - 34px);
  /* height: 70px; */
  background-color: var(--background);
  font-family: "Comfortaa", sans-serif;
}
@media (min-width: 425px) {
  .about {
    width: 358px;
  }
}
@media (min-width: 768px) {
  .about {
    width: calc(100% - 468px);
  }
}
@media (min-width: 1024px) {
  .about {
    width: calc(100% - 620px);
  }
}

.title {
  font-size: 0.5em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--button-active);
}
@media (min-width: 768px) {
  .title {
    font-size: 0.8em;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 1.3em;
  }
}
@media (min-width: 1438px) {
  .title {
    font-size: 2.5em;
  }
}

.text {
  margin-top: 1vh;
  font-size: 0.5em;
  font-weight: 600;
  line-height: 1.5;
  color: var(--main-text);
}
@media (min-width: 768px) {
  .text {
    font-size: 0.7em;
  }
}
@media (min-width: 1024px) {
  .text {
    font-size: 0.9em;
  }
}

.list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* margin-left: 60px; */
  padding: 0 8px 8px 8px;
  width: calc(100% - 20px);
}
@media (min-width: 425px) {
  .list {
    width: 392px;
    padding: 0 16px 16px 16px;
  }
}
@media (min-width: 768px) {
  .list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0 32px 32px 32px;
    width: 710px;
  }
}
@media (min-width: 1024px) {
  .list {
    width: 960px;
  }
}
@media (min-width: 1440px) {
  .list {
    width: 1376px;
  }
}

.item1 {
  display: none;
}
.item1,
.item3 {
  background-color: var(--background);
  text-align: center;
}
.item4 {
  width: calc(100% - 32px);
  padding: 16px;
  text-align: left;
  background-color: var(--background);
}
@media (min-width: 425px) {
  .item1,
  .item3 {
    width: 390px;
  }
  .item4 {
    width: 358px;
  }
}
@media (min-width: 768px) {
  .item1 {
    display: block;
    flex: 1;
  }
  .item3 {
    flex: 2;
  }
  .item4 {
    flex: 4;
  }
}

.images,
.image1 {
  width: 100%;
}
@media (min-width: 768px) {
  .image1 {
    margin-left: 16px;
    padding-top: 60px;
  }
  .item3 {
    padding-top: 50px;
  }
}
