.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 25px;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  margin-top: 1vw;
  z-index: 5;
}
@media (min-width: 768px) {
  .wrapper {
    height: 55px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  min-width: 318px;
}
@media (min-width: 768px) {
  .container {
    padding: 16px 32px;
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.logo {
  transition: font-size 0.3s ease;
}
.logo:hover,
.logo:focus {
  transform: scale(1.3);
}
