@import "./reset.css";

:root {
  --background: #a5a5a5af;
  --header-color: #bbb7b7;
  --main-text: #213547;
  --box-shadow-color: #a4882e;
  --animation-shadow: blink 3s infinite;
  --box-shadow: 0 4px 8px 0px var(--box-shadow-color);
  --rusty: #e8a45bce;
  --button-active: #de790dce;
  --link-active: #40ecef;
  --night: #010235;
  --animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background: repeating-linear-gradient(
    58deg,
    /* Кут нахилу смужок */ var(--header-color) 10px,
    /* Колір 1 (білий) */ var(--header-color) 20px,
    /* Довжина першої смужки */ var(--rusty) 30px,
    /* Початок другої смужки */ var(--rusty) 40px /* Довжина другої смужки */
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  text-decoration: inherit;
}
a:hover {
  color: var(--rusty);
}

body {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Genos", sans-serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1.5;
  color: var(--rusty);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  fill: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-active);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: var(--rusty);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
  button {
    background-color: inherit;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
}
